/* || GENERAL STYLES */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;

    font-family: 'Roboto', sans-serif;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.main-section {
    width: 70%;
}

button {
    border-radius: 10px;

    font-size: medium;
    font-weight: bold;
    color: #F9FAF8;
    background-color: #3882F6;

    padding: 10px 32px;
}

p {
    margin: 0;
}


/* || UTILITIES */

.be-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* || HEADER */

header {
    display: flex;
    justify-content: space-between;

    padding: 16px;
}

.header-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    color:  #F9FAF8;
}



/* || HERO */

.hero {
    background-color: #1F2937;
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: fill;

    padding: 100px;
}

.hero-content-left {
    flex: 1;
}

.hero-content-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: grey;
}

.hero-main {
    margin: 0;
    
    font-size: 48px;
    font-weight: 800;
    color:  #F9FAF8;
}

.hero-secondary {
    margin: 8px 48px 12px 0;

    font-size: 18px;
    color: #E5E7EB;
}

.hero-image-placeholder-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-button {
    border: none;
}



/* || INFORMATION */

.info-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-title {
    margin: 48px 0;

    font-size: 36px;
    font-weight: 800;
    color: #1F2937;

}

.info-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;

    margin-bottom: 100px;
}

.info-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.info-img {
    border: 4px solid #3882F6;
    border-radius: 16px;

    height: 150px;
    width: 150px;
}

.info-text {
    margin: 8px 0;

    width: 150px;

    text-align: center;
}



/* || QUOTE */

.quote {
    background-color: #E5E7EB;
}

.quote-content {
    padding-top: 100px;
    padding-bottom: 63px;

    width: 85%;
}

.quote-text {
    margin: 0;
    margin-bottom: 16px;

    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

.quote-author {
    margin: 0;

    text-align: right;
    font-size: large;
}


/* || CALL TO ACTION */

.cta {
    padding: 100px 0;
}

.cta-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 84px;

    padding: 32px 84px;

    border-radius: 10px;

    background-color: #3882F6;
}

.cta-title {
    font-size: 24px;
    color: #F9FAF8;
}

.cta-subtext {
    font-weight: 300;
    color: #E5E7EB;
}

.cta-button {
    border: 2px solid #F9FAF8;
}





